#Virtual Env
.venv

#UV
.python-version

# DB JSON File
db.json

# pycache
__pycache__/
__pycache__/*
*/__pycache__/
*/__pycache__/*
**/__pycache__/
**/__pycache__/*
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache
